<header id="fh5co-header" role="banner">
    <div class="container-fluid">
      <div class="header-inner">
        <h1><i class="sl-icon-energy"></i>Surakshya</a></h1>
        <nav role="navigation">
          <ul>
            <li><a class="active">Home</a></li>
            <li><a href="history">Our History</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="objectives">Our Objectives</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="contact">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </div>
</header>
